<header>


  <div id="logout"><a href="/" id="log_out">Log Out</a></div>

  <div id="main-header">
    <h1 id="title"><a href="/">PlayPal</a></h1>
    <p>The Best App For Man's Best Friend</p>
  </div>

  <!-- <div id="description"></div> -->
  <br>

  <div id="navbar">
    <a href="/">Home</a> <span class="nav-spacing">|</span> <a href="/parks">Dog Parks</a> <span class="nav-spacing">|</span> <a href="/user/newuser">Sign Up</a> <span class="nav-spacing">|</span> <a href="/user/login">Log In</a>
  </div>

  <br>
</header>
