<header>
  <a href="/"><h1>PlayPal</h1></a>
  <p>The Best App For Man's Best Friend</p>
  <a href="" id="sign_up">Sign Up</a><br>
  <a href="" id="log_out">LogOut</a>
  <div><a href="">Home</a></div>
  <div><a href="">Dog Parks</a></div>
  <div><a href="">Pet Stores</a></div>

<form action="/user/login" method="post">
  <label for="">Email</label>
  <input type="text" name="email">
  <label for="">Password</label>
  <input type="password" name="password">
  <input type="submit" value="Log In">
</form>
</header>
