<header>

  <div id="signup"><a href="/user/newuser" id="sign_up">Sign Up</a></div>

  <div id="login"><a href="/user/login" id="log_in">Log In</a></div>

  <div id="logout"><a href="/" id="log_out">Log Out</a></div>

  <div id="playpal"><a href="/">PlayPal</a></div>

  <div id="description"><p>The Best App For Man's Best Friend</p></div>
  <br>

  <div id="navbar">
    <a href="/">Home</a><span> |</span>
    <a href="/parks">Dog Parks</a>
  </div>

  <br>
</header>
