<header>

  <div id="signup"><a href="" id="sign_up">Sign Up</a></div>
  <div id="logout"><a href="" id="log_out">LogOut</a></div>
  <div id="playpal"><a href="/">PlayPal</a></div>
  <div id="description"><p>The Best App For Man's Best Friend</p></div>
  <br>

  <div id="navbar">
    <a href="">Home</a><span> |</span>
    <a href="">Dog Parks</a>
  </div>

  <br>
<form action="/user/login" method="post">
  <label form="">Email</label>
  <input type="text" name="email">
  <label form="">Password</label>
  <input type="password" name="password">
  <input type="submit" value="Log In">
</form>
</header>
