<!DOCTYPE html>
<html>
<% include ../views/partials/head -%>
<% include ../views/partials/header -%>
<body>
  <img src="../../images/running_dog.gif">

  <br>
  <br>
  <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae placeat laboriosam, est ipsum dolore amet porro totam natus nemo in odio nulla repudiandae quaerat, doloremque voluptatibus facilis id iusto necessitatibus!</span>
  <span>Modi libero enim magnam, nihil alias! Sunt distinctio expedita molestias praesentium illo, ipsum, totam dicta a, atque doloremque blanditiis ducimus consectetur veniam quos explicabo incidunt, odio mollitia laborum qui vitae?</span>
  <span>Quibusdam ea quo dicta, eligendi repellendus hic, iure necessitatibus enim harum nihil adipisci fugiat temporibus sed nobis. Sapiente autem eligendi libero velit laudantium, quo tempora dolore rerum voluptatum corrupti perspiciatis!</span></p>
</body>
</html>
