<!DOCTYPE html>
<html>
<% include ../views/partials/head %>
<% include ../views/partials/header %>
<body>
  <h1>PlayPal Park Finder</h1>
  <p>Find a dog run near you:</p>
</body>
  <input id="zip-code" type="text" value="Enter Zip Code">
  <input id="search-dogs" type="submit" value="Search">
</html>

