<!DOCTYPE html>
<html>
<% include ../../partials/head %>
<body>
<% include ../../partials/header %>

  <h1>Please Login</h1>

<form action="/user/login" method="post">
  <label form="">Email</label>
  <input type="text" name="email"><br>
  <label form="">Password</label>
  <input type="password" name="password">
  <input type="submit" value="Log In">
</form>

</body>
</html>
